# Ignore all build folders in subprojects
**/build/

# Ignore common IDE/editor junk
.vscode/
.DS_Store
Thumbs.db

# Ignore CMake cache files if they appear outside build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
